<html>
    <head>
            {% load static %}
            <link rel="stylesheet" href="{% static 'css/tickets/main.css' %}">
    </head>

<body>
    <div class="header">
        <div class="head-capt">
            Видалити відвідуваність
        </div>
    </div>
    <div class="content">
            <div class="halls block">
                    <select v-model="file" class="block sel" size="4">
                        <option value="фвіфі"><a href="#">asdasdasad</a></option>                 
    
                    </select>
                </div>
    </div>
    
</body>

</html>