<html>
<head>
  <title></title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css'%}">

</head>
<body>
<div id="form">
<form method="post">
  {% csrf_token %}
  {{form}}
  <button @click="submit()">Submit</button>
</form>
</div>
<script type="text/javascript" src="{% static 'js/vue.js'%}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
<script type="text/javascript" src="{% static 'js/test2.js'%}"></script>

</body>
</html>