.actor{
	position: absolute;
	height: 30%;
	width: 100%;

}
.actor-1{
	top: 17%;

}

.actor-2{
 top: 60%;
}
.actor-3{
	top: 103%;
}
.actor-4{
	top: 147%;
}
.actor img{
	position: absolute;
	left: 2%;
	display: inline-flex;
	height: 95%;
}

.actor-text{
	position: absolute;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	height: 100%;
	width: 75%;
	left: 23%;
	background-color: #483D8B;
	display: block;
	padding: 10px;
}

.actor-text h1{
	margin-top: -5px;
	color: #5cb85c;
}
.actor-text h2{
	color: #bfffbf;
}

.actor-text button{
	float: right;
	margin-top: -30px;
}


/*  portfolio  */

.header-portfolio{
	position: absolute;
	height: 43%;
	width: 100%;
	background: linear-gradient(to bottom, transparent 85%, MediumSlateBlue  100%), url(../icon/1.jpg);
	background-size: cover;


}
.promo-portfolio{
	position: absolute;
	float: left;
	color: white;
	padding-top: 5%;
}
	.promo-portfolio>p{
		color: white;
		font-size: 25px;
	}

.phone-portfolio{
	float: right;
	margin: 3%;

}
	.phone-portfolio>p{
		color: white;
		font-size: 27px;
	}
	.phone-portfolio>ul{
		list-style: none;
		float: right;
	}
		.phone-portfolio>ul>li{

			color: white;
			font-size: 25px;
		}

.counters{
	position: absolute;
	top: 43%;
	height: 57%;
	width: 100%;
	background-color: MediumSlateBlue;
}

	.counters>div{
		position: relative;
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		top: 8%;
		height: 80%;
		width: 15%;
		margin-right: 4%;
		background-color: #483D8B;
		border-radius: 3px;
	}



.num-cont{
	width: 100%;
	position: absolute;
	text-align: center;
	font-size: 60px;
	top: 15%;
	color: white;
}

.text-cont{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: white;
}
.description-port{
	position: absolute;
	top:70%;
	height: 30%;
	width: 100%;

}
.text-ev{
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	font-size: 32px;
	text-align: -webkit-center;	
	width: 80%;

}
.date-ev{
	float: right;
}
	.date-ev p{
		font-size: 30px;
		font-style: oblique;
		border: 2px solid black;
		padding: 5px;
	}
/*  portfolio  */