<html>
    <head>
        <title>Завантажити або створити квитки</title>
        {% load static %}
	    <link rel="stylesheet" href="{% static 'css/tickets/main.css' %}">
    </head>
    <body>
        <div class="header">
            <div class="head-capt">Завантажити або створити квитки</div>
            <div class="head-file">
                <a href="/attendance/stat/" ><h1>відвідуваність</h1></a>
            </div>
        </div>
        <div class="content">
            <div id="download" class="halls block">
                <select v-model="file" class="block sel" size="4" >
                    {% for link in links %}
                    <option value="{{link.href}}">{{ link.event }}</option>
                    {% endfor %}
                    

                </select>
            </div>
            <a href="/tickets/create/"><div class="block create">
                <p>Створити нові квитки</p>
            </div></a>  

        </div>
        
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{% static 'js/tickets/index.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    </body>
</html>
